.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    margin: 0 auto;
}

.login-text {
    text-align: center;
}

.login {
    margin-top: 5px;
    padding: 8px 12px;
    background-color: #839bfd;
    border: none;
    border-radius: 4px;
    height: 34px;
    font-size: 20px;
    line-height: 5px;
    width: 100%;
}

.login:hover {
    color: white;
    cursor: pointer;
}

.link-to-reg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-account {
    color: grey;
    font-size: 14px;
    margin: 5px 0 2px;
}

.link {
    color: #7d7dac;
    font-size: 14px;
}

.link:hover {
    color: #3337ff;
}